# Xcode (or swift) build created files
/build/
.build/
.build
.swiftpm

# Swift Package Manager resolution files
*.resolved

# Xcode project files
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

## any Instruments related files
*.trace
*.run

# Images and helper files
*.png
*.jpg
*.jpeg
*.html
