# Xcode build created files
build/
.build/
.build

# Xcode project filesx
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

## any Instruments related files
*.trace
*.run

# Images and helper files
*.png
*.jpg
*.jpeg
*.html
